<app-header-modal titulo = "Detalle"></app-header-modal>
<ion-content padding>
  <h3  class="ancho">Detalle de Cobro</h3>

    <form [formGroup]="form" >
        <ion-item class="ancho">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [readonly] ="inputDisabled" autocomplete="off" formControlName="nombre"></ion-input>   
          </ion-item>

          <ion-item class="ancho">
            <ion-label position="floating">Fecha Vencimiento</ion-label>
            <ion-input [readonly] ="inputDisabled" autocomplete="off" formControlName="fecha"></ion-input>   
          </ion-item>

          <ion-item class="ancho">
            <ion-label position="floating">Monto Cuota</ion-label>
            <ion-input [readonly] ="inputDisabled" autocomplete="off" formControlName="cuota"></ion-input>   
          </ion-item>

          <ion-item class="ancho">
            <ion-label position="floating">Mora por atraso</ion-label>
            <ion-input [readonly] ="inputDisabled" type="number" autocomplete="off" formControlName="mora"></ion-input>
          </ion-item>

          <ion-item class="ancho">
            <ion-label position="floating">Dias atraso</ion-label>
            <ion-input [readonly] ="inputDisabled" type="number" autocomplete="off" formControlName="moraDias"></ion-input>
          </ion-item>

          <ion-item class="ancho">
            <ion-label position="floating">Nº Cuota</ion-label>
            <ion-input [readonly] ="inputDisabled" autocomplete="off" formControlName="n_cuota"></ion-input>
          </ion-item>
      </form>

      <ion-button *ngIf="id === '2'" (click)="reversar()" class="ancho"  expand="block" color="danger">Reversar</ion-button>


</ion-content>
