<app-header titulo = "Lista de deudores total"></app-header>


<ion-searchbar animated placeholder="Buscar" (ionChange)="buscar($event)"></ion-searchbar>
<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
   
     <ion-list>
      
      <ion-item-sliding *ngFor=" let lista of listaPedidos | filtroArray:textoBuscar:'nombre'" >
        <ion-item class="ion-text-uppercase" (click)="detalle(lista.detalles,lista.cliente.nombre,lista.n_cuota,lista.id)">
          <ion-grid >
            <ion-row >
              <ion-col >
                <ion-label *ngIf="lista.moraCancelado == 'S'">{{lista.cliente.nombre}}</ion-label>
                <ion-label *ngIf="lista.moraCancelado == 'N'" color="warning">{{lista.cliente.nombre}}</ion-label>
              </ion-col>
              <ion-col>
                <ion-label *ngIf="lista.moraCancelado == 'S'" class="label">{{lista.cliente.ciudad}}</ion-label>
                <ion-label *ngIf="lista.moraCancelado == 'N'" class="label" color="warning" >{{lista.cliente.ciudad}}</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>       
        </ion-item>
      </ion-item-sliding>
      </ion-list>
</ion-content>

